@media screen and (min-width: 300px) {
    

    #career-display{
       
       
        text-align: center;
        border: 1px solid black;
        border-radius: 1em;
        margin-bottom: 1em;
        margin-top: 1.5em;
        padding: 1em 0 1em 0;
        background-color: white;
        color: black;
        max-width: 90%;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: auto;
        margin-right: auto;
      }

      #career-display-form {
          margin-top: 7em;
      }

      #return-roster-btn {
        padding: .5em;
     border-radius: 5px;
      }

      #return-roster-btn:hover {
          cursor: pointer;
          color: red;
      }
  
}