@media screen and (min-width: 300px) {
  
    #create-success-main {
    border: 1px solid black;
    border-radius: 1em;
    background-color:white;
    width: 90%;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    font-size: .7em;
    }

    #create-success-info {
        text-align: center;
        padding: 5em;
    }

    #return-main-btn {
    padding: .5em;
     border-radius: 5px;
    }

    #return-main-btn:hover {
        cursor: pointer;
        color: red;
    }
  
}

@media screen and (min-width:1100px){

    #create-success-main {
            max-width: 70%;
            font-size: 1em;
        }

}