 @media screen and (min-width: 300px) {
 
    ul {
      list-style: none;
      padding-left: 0;
    }

    .employee-list-title{
      text-align: center;
      color: white;

    }

    #main-return-btn {
    
     padding: .5em;
     margin-top: 2em;
     margin-left: 2em;
     margin-bottom: 2em;
     border-radius: 5px;
     
    }

    #main-return-btn:hover {
      cursor: pointer;
      color: red;
    }

    #view-career-btn {
      color: white;
     background-color: black;
     border: 1px solid white;
     padding: .5em;
     margin-top: 2em;
     border-radius: 5px;
    }

    #view-career-btn:hover {
      cursor: pointer;
      color: orange;
    }



    .employee-component {
    text-align: left;
    padding-left: 30%;
    border: 1px solid black;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

  
} 